nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 9%;
    padding-right: 8%;
    width: 50em;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 30px;
}
nav ul li a{
    color:black;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover{
    color: #fd5c01;
    transition: 3s;
}
.btn{
    position: absolute;
    display: inline-block;
    outline: none;
    padding: 10px 14px;
    border-radius: 30px;
    background-color:transparent;
    color: black;
    transition: transform .4s;
    border: 2px solid transparent;
    left: 72em;
    border: solid black;
}
.header{
    margin: 80px;
    width: 234px;
}
.header h1{
    font-weight: 900;
    margin-left: 66px;
    margin-top: 34px;
}
.footer p {
    font-weight: 600;
    margin: 62px;
    margin-left: 140px;
    margin-bottom: 50px;
}
.footer svg {
    position: relative;
    bottom: 83px;
    left: 285px;
}
 .cheeks{
      background-color: #fd5c01; 
     padding: 30px;
     width: 100%;
} 
.face{
    background-color: white;
    padding-left: 87px;
    padding-top: 12px;
}
.myimage{
    margin-top: -612px;
    margin-left: 375px;
    margin-top: -612px;
    margin-left: 402px;
    padding: 5px;
    width: 12px;
}
 .myimage img{
    margin-bottom: 88px;
    width: 42em;
    padding: 64px;
    margin-left: -9px;
}  
.myimage p{
    font-weight: 700;
    width: 407px;
    margin-left: 247px;
    margin-top: -24px;
    position: relative;
    bottom: 7em;
}